@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,600,700,800);

body {
	font-family: 'Roboto', sans-serif;
	background: #EEEBE7;
	min-width: 640px;
}

.text-emp {
	font-weight: 700;
}

.body-container {
    padding-top: 100px;
}

.navbar {
	z-index: 1000;
	
	
	border-bottom: solid 1px #111;
	
	background: #333;
	background: linear-gradient(top,  #444 0%,#444 75%, #3c3c3c 100%); 
    background: -webkit-linear-gradient(top,  #444 0%, #444 75%, #3c3c3c 100%); 
    
    opacity: 0.97;
    
	-webkit-border-radius: 0;
	        border-radius: 0;
	
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
    
}

.navbar a, .navbar-nav > li > a {
	color: #ffe400;
	text-shadow: 0 1px rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
}

.navbar-nav > li > a {
    color: #BBB;
}

.navbar a:hover, .navbar-nav > li > a:hover {
	background: rgba(255, 255, 255 , 0.05);
    color: #FFF;
}

.navbar a:hover, .navbar-nav > li > a:active {
	background: rgba(0, 0, 0 , 0.1);
}


.navbar-toggle {
	background: rgba(255, 255, 255, 0.1);
}

.icon-bar {
	background: #FFF;
}

#side-container {
	background-color: rgba(0, 0, 0, 0.05);
}

#card-container {
	
}

.main-search-bar {
	padding: 0 0 20px 0;
}

.btn-mostimportant {
	border: solid 1px #ab4542;
	
	background: #e25656;
	background: -webkit-linear-gradient(top,  #cc5050 0%,#c45350 100%); 
    
    -webkit-border-radius: 2px;
	        border-radius: 2px;
	        
	color: #ffffff;
}

.btn-mostimportant:hover, .btn-mostimportant:focus {
	border: solid 1px #a13f3c;
	
	background: #e25656;
	background: -webkit-linear-gradient(top,  #cc5050 0%,#bc4b4b 100%); 
	
	color: #ffffff;
}

.btn-mostimportant:active {
	border: solid 1px #a13f3c;
	
	background: #e25656;
	background: -webkit-linear-gradient(top,  #bc4b4b 0%, #c45350 50%, #c45350 100%); 
	
	color: #ffffff;
}

.main-searchtext {
	/* border: 1px solid #a5a29e; */
	border: solid 1px #ab4542;
	border-right: 1px solid #ab4542;
	
	 -webkit-border-radius: 2px;
	         border-radius: 2px;
}


.row-fluid {
    background: #aaa;
}

#homepage-banner {
    background: #b3dfe5;
    
    box-shadow: inset 0 -10px 10px -10px #a5cbd1;
    -moz-box-shadow: inset 0 -10px 10px -10px #a5cbd1;
    -webkit-box-shadow: inset 0 -10px 10px -10px #a5cbd1;
    
	border-bottom: 1px solid #f2efeb;
}

#homepage-banner p {
    text-align: justify;
}

#homepage-footer {
	background: #e0ddda ;
	margin-bottom: 0;
	
	box-shadow: inset 0 10px 10px -10px #ccc9c6;
}

.banner-disclaimer {
    
    color: #556c70;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
}

.emp-mid {
    font-weight: 600;
}

.nav p {
    margin:0;
}

#light-text {
	color: #608085;
	font-weight: 300;
}

#emp-text {
	font-weight: 400;
}

.uni-card {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 1px #DDD;
    background: #FFF;
    width: 100%;
    display: table;
    border: 1px solid #d8d5d1;
}

.uni-card-expand {
    height: 200px;
    background: #fff;
    margin-top: 20px;
    min-height: 200px;
    width: 100%;
    display: table;
}


.uni-content {
	width: 70%;
	height: 100%;
	float: left;
	position: relative;
	min-height: 200px;
}

.uni-map {
	height: 200px;
	width: 30%;
	background: #bbb;
	float: right;
}

.uni-content-top {

}

.uni-content-bottom {
	position: absolute; 
	bottom: 0;
	width: 100%;
}

.uni-content-name {
	float: left;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #000;
	width: 100%;
	padding: 0 5px;
	word-wrap: break-word;
}

.uni-contact-data {
	width: 60%;
	float: left;
	padding: 5px;
	color: #777;
	word-wrap: break-word;
}

.uni-address-data {
	width: 40%;
	float: right;
	color: #777;
	padding: 5px;
	word-wrap: break-word;
}

.fa {
	width: 20px;
}

.fa-phone {
	font-size: 14px;
	color: #7dac94;
}

.fa-print {
	font-size: 14px;
	color: #7dac94;
}

.fa-envelope-o {
	font-size: 12px;
	color: #4eb2f4;
}

.fa-desktop {
	font-size: 10px;
	color: #4eb2f4;
}

.fa-map-marker {
	font-size: 16px;
	color: #ee8176;
}